# Ignore environment variable files
.env

# Ignore PostgreSQL data directories if you mount volumes later
streaming-async/primary/primary_data/
streaming-async/replica-one/replica_data/
streaming-async/replica-two/replica_data/

streaming-sync/primary/primary_data/
streaming-sync/replica-one/replica_data/
streaming-sync/replica-two/replica_data/

# Ignore Docker-related artifacts
*.log
*.pid
*.sock

# Ignore OS/system junk
.DS_Store
Thumbs.db

# Ignore IDE/editor configs
.vscode/
.idea/
*.swp
*.swo
*.bak

# Ignore backup files
*~
*.orig
